[data-dropdown]{
  position: relative;
}

.dropdown-menu::before{

}

[data-dropdown] .dropdown-menu{
  display: none;
}

[data-dropdown]:hover .dropdown-menu, 
[data-dropdown].ativo .dropdown-menu{
  display: block;
  animation: dropDownAnimation 0.2s forwards;
}

@keyframes dropDownAnimation {
  from{
    opacity: 0;
    transform: translate3d(0, 30px,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.dropdown-menu{
  border: 2px solid black;
  position: absolute;
  background: #E54;
  z-index: 200;
}

.dropdown-menu li a:hover {
  color: white;
}